.active-nav {
  color: var(--folly);
  border-bottom: 2px solid var(--folly);
}

@media screen and (min-width: 1008px) {
  header {
    position: sticky;
    width: 100%;
    top: 0px;
    background-color: var(--dark-slate-gray200);
    z-index: 9;
  }
  header nav {
    padding: 0.5rem 0rem;
  }
  header nav div.nav-brand img {
    width: 30px;
  }
  header nav div.nav-brand h2 {
    font-family: "Bebas Neue";
    margin-left: 1rem;
    letter-spacing: 0.05rem;
  }
  header nav div.nav-brand h2 span {
    color: var(--folly);
  }
  header nav ul.nav-link {
    width: 80%;
  }
  header nav ul.nav-link li {
    font-family: "Bebas Neue";
    margin: 0rem 1.5rem;
    font-size: 1.25rem;
    letter-spacing: 0.05rem;
    cursor: pointer;
    transition: all 600ms ease-in-out;
  }
  header nav ul.nav-socials {
    width: 20%;
  }
  header nav ul.nav-socials li {
    font-family: "Bebas Neue";
    margin: 0rem 1rem;
    font-size: 1.15rem;
  }
  header nav li:hover {
    color: var(--folly);
    border-bottom: 2px solid var(--folly);
  }
  header div#hamburger-menu {
    display: none;
  }
}
@media screen and (max-width: 1007px) {
  header {
    position: sticky;
    width: 100%;
    top: 0px;
    background-color: var(--dark-slate-gray200);
  }
  header nav {
    justify-content: space-between;
    padding: 2rem 2.5rem;
  }
  header nav div.nav-brand img {
    width: 40px;
  }
  header nav div.nav-brand h2 {
    font-family: "Bebas Neue";
    font-size: 2.15rem;
    margin-left: 1rem;
    letter-spacing: 0.05rem;
  }
  header nav div.nav-brand h2 span {
    color: var(--folly);
  }
  header nav ul.nav-link,
  header nav ul.nav-socials {
    display: none;
  }
  header nav div#hamburger-menu img {
    height: 2.5rem;
  }
  header nav div#hamburger-menu div.mobile-nav {
    position: absolute;
    min-height: 100vh;
    inset: 0;
    width: 100%;
    z-index: 20;
    background-color: var(--dark-slate-gray200);
    z-index: 30;
    background-image: url(../../public/home-bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
  }
  header nav div#hamburger-menu div.mobile-nav div.mobile-header {
    height: -moz-min-content;
    height: min-content;
    width: 100%;
    padding: 2rem 2.5rem;
    justify-content: flex-end;
  }
  header nav div#hamburger-menu div.mobile-nav ul.mobile-nav-links {
    padding: 2rem 2.5rem;
  }
  header nav div#hamburger-menu div.mobile-nav ul.mobile-nav-links li {
    font-family: "Bebas Neue";
    font-size: 5rem;
    margin: 2rem;
    text-align: right;
  }
}
@media screen and (max-width: 640px) {
  header {
    position: sticky;
    width: 100%;
    top: 0px;
    background-color: var(--dark-slate-gray200);
  }
  header nav {
    padding: 2rem;
  }
  header nav ul.nav-link,
  header nav ul.nav-socials {
    display: none;
  }
  header nav div.nav-brand img {
    width: 30px;
  }
  header nav div#hamburger-menu div.mobile-nav div.mobile-header {
    padding: 2rem;
  }
}/*# sourceMappingURL=header.css.map */